/* app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

/* Custom CSS goes below the directives if absolutely necessary, 
   but never use @apply for utility classes here. 
*/